body {
    font-family: Arial;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo {
    margin: 10px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
