<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <!-- Header -->
    <div class="header">
        <img src="https://cdn-icons-png.flaticon.com/512/346/346167.png" class="flower" alt="flower">
        <h1 class="app-title">Photo Gallery</h1>
        <img src="https://cdn-icons-png.flaticon.com/512/346/346167.png" class="flower" alt="flower">
    </div>

    <!-- Main Content -->
    <div class="container">
        <h2>Online Photo Gallery Application</h2>
        <h3>Upload Photo</h3>

        <a href="{{ url_for('upload_page') }}">
            <button class="upload-btn">Upload Image</button>
        </a>
    </div>

    <!-- Uploaded Images -->
<div class="uploaded-gallery">
    {% for image in images %}
        <div class="image-card">
            <img src="{{ image[1] }}" class="uploaded-photo">

            <a href="{{ url_for('delete', image_id=image[0]) }}"
               onclick="return confirm('Delete this image?')">
                <button class="delete-btn">Delete</button>
            </a>
        </div>
    {% endfor %}
</div>


    <!-- Background Gallery -->
    <div class="gallery">
        <img src="https://picsum.photos/500/350?random=1" class="photo photo1">
        <img src="https://picsum.photos/500/350?random=2" class="photo photo2">
        <img src="https://picsum.photos/500/350?random=3" class="photo photo3">
        <img src="https://picsum.photos/500/350?random=4" class="photo photo4">
        <img src="https://picsum.photos/500/350?random=5" class="photo photo5">
    </div>

</body>

</html>