<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Upload Photo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">
        <h2>Upload a New Photo</h2>

        <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="photo" required>
            <br><br>
            <button type="submit" class="upload-btn">Upload</button>
        </form>

        <br>
        <a href="{{ url_for('index') }}">⬅ Back to Gallery</a>
    </div>

</body>

</html>